@model final_project.Dtos.User.UserDTO
@{
    ViewData["Title"] = "Profile";
}

<style>
    .block {
        display: block;
        align-items: center;
        width: 100%;
        height: 5vh;
    }

    img{
        border-radius: 50%;
    }
</style>


<body style="background-color: #1e1e1e;">
    <div class="container" style="justify-content: center; align-items: center">
        <div class="d-flex" style="justify-content: center; align-items: center">
            <img src="@Html.DisplayFor(model => model.ImageURL)" style="width:150px;">
        </div>
        <br>
        <div class="container">
            <h1 style="color: #FF82c9; text-align: center;">
                @Html.DisplayFor(model => model.Name)
            </h1>
        </div>
        <br>
        <div class="d-flex" style="justify-content: flex-start; align-items: center">
            <p style="color: white; text-align: center;">
                Username
            </p>
        </div>
        <div class="d-flex" style="justify-content: center; align-items: center">
            <h5 style="color: #FF82c9; text-align: center;">
                @Html.DisplayFor(model => model.Username)
            </h5>
        </div>
        <br>
        <div class="d-flex" style="justify-content: center; align-items: center">
            <p style="color: #FF82c9; text-align: center;">
                @Html.DisplayFor(model => model.PhoneNumber)
            </p>
        </div>
        <br>
        <div class="d-flex" style="justify-content: center; align-items: center">
            <p style="color: #FF82c9; text-align: center;">
                @Html.DisplayFor(model => model.Email)
            </p>
        </div>
        <br>
        <div class="d-flex" style="justify-content: center; align-items: center">
            <p style="color: #FF82c9; text-align: center;">
                @Html.DisplayFor(model => model.Address)
            </p>
        </div>
        <br>
        <br>
        <div style="display:flex; justify-content: center; align-items:center;">
            <button class="block" asp-controller="Login" asp-action="Logout" style="background-color: #FF82c9">
                Log out
            </button>
        </div>
    </div>
</body>
