@model IEnumerable<final_project.Dtos.Product.ProductDTO>
@{
    ViewData["Title"] = "Search Result";
}

<html>
<body style="background-color: #1e1e1e">
    <div>
        <h3 style="color: white;">Search result for @ViewBag.keyword : </h3>
    </div>
    @if(Model.Count() == 0) {
        <div style="height: 75vh; justify-content: center; align-items: center; display: flex;">
            <div class="center" style="text-align: center;">
                <h2 style="color: white;"> Sorry, we don't have the product </h2> <i class="bi bi-heartbreak-fill" style="font-size: 100px; color: #ff82c9;"></i>              
             </div>                       
        </div>
    }
    <div>
    <ul class="list-cards">
    @foreach (var item in Model)
    { 
        <li> 
            <a asp-controller="Home" asp-action="ProductId" asp-route-id="@item.Id" style="text-decoration: none;">
            <img src="@Html.DisplayFor(modelItem => item.ImageURL)" width=99.98% height=75% align=center style="border-top-left-radius: 0.5rem; border-top-right-radius: 0.5rem;">
            <br>
            <p style="padding-left:10px; padding-top:15px; color:black; font-size:14px"><b> @Html.DisplayFor(modelItem => item.ProductName) </b></p>
            <p style="padding-left:10px; color: black; font-size:15px"> Rp @Html.DisplayFor(modelItem => item.Price) </p>   
            </a>        
        </li>
        <br>
    }
</ul>
</div>
</body>
</html>