@* @page *@
@* @model final_project.Views.Home.NewArrival *@
@model List<final_project.Dtos.Product.ProductDTO>

@{
    ViewData["Title"] = "New Arrival";
}


<style>
body{
    
}

.template{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5rem;
    justify-content: center;
}
    .template > li{
        height: 25rem;
        width: 18rem;
        position: relative;
        background-size: cover;
        list-style-type: none;
        transition: 0.1s ease-out;
    }

        .template > li:hover{
            transform: scale(1.02);
        }

.scrollable{
    position: relative;
    top: 0; right: 0; left: 0; bottom: 0;
     overflow-y: scroll;
}
</style>

<html>
<body style="margin-left: 0px; margin-right:0px; margin-bottom: 0; background-color: #1e1e1e;">
        <h1 style="color: White; text-align: center;">@ViewData["Title"]</h1>
        <br>
        <br>
        <ul class="template">
            @foreach (var item in Model)
            {
                <li>
                    <a asp-controller="Home" asp-action="ProductId" asp-route-id="@item.Id" style="text-decoration: none;">
                    <img src="@Html.DisplayFor(modelItem => item.ImageURL)" alt="@Html.DisplayFor(modelItem => item.ProductName)" height=75% width=99.98% style="border-radius: 0.5rem;">                    
                    <br>
                    <h4 style="text-align: center; color: White; overflow: hidden; text-decoration: none;">@Html.DisplayFor(modelItem => item.ProductName)</h4>                    
                    <p style="align-item: flex-end; text-align: center; font-size: 15px; color: #FF82c9">RP. @Html.DisplayFor(modelItem => item.Price)</p>
                    </a>
                </li>
            }
        </ul>
    </div>
</body>
</html>