@* @page *@
@model IEnumerable<final_project.Dtos.Product.ProductDTO>

@{
    ViewData["Title"] = "Shoes";
}

<html>
<body style="background-color: #1e1e1e">
    <div>
    <h1 style="color: White; text-align: center;">@ViewData["Title"]</h1>
    <br>
    <ul class="list-cards">
    @foreach (var item in Model)
    { 
        <li> 
            <a asp-controller="Home" asp-action="ProductId" asp-route-id="@item.Id" style="text-decoration: none;">
            <img src="@Html.DisplayFor(modelItem => item.ImageURL)" width=99.98% height=75% align=center style="border-top-left-radius: 0.5rem; border-top-right-radius: 0.5rem;">
            <br>
            <p style="padding-left:10px; padding-top:15px; color:black; font-size:14px"><b> @Html.DisplayFor(modelItem => item.ProductName) </b></p>
            <p style="padding-left:10px; color: black; font-size:15px"> Rp @Html.DisplayFor(modelItem => item.Price) </p> 
            </a>          
        </li>
        <br> 
    }
</ul>
</div>
</body>
</html>