@model final_project.Dtos.Cart.CartProductDTO
@{
    ViewData["Title"] = "My Cart";
}


@if(Model.CartItemList.Count() == 0) {
    <body style="background-color: #1e1e1e" style="height: 100vh;">
        <div style="height: 75vh; justify-content: center; align-items: center; display: flex;">
            <div class="center" style="text-align: center;">
                <h2 style="color: white;"> Your Cart is Empty </h2> <i class="bi bi-cart-fill" style="font-size: 100px; color: #ff82c9;"></i>              
             </div>                       
        </div>    
    </body>
} else {
<body style="background-color: #1e1e1e" style="height: 100vh;">     
<div>    
    <div class="row">
        <div class="col align-self-start">
    @* <h1 style="color:white; padding-bottom: 20px;">@ViewData["Title"]</h1> *@
            <ul class="list-carts">
                @foreach (var item in Model.CartItemList)
                {   
                    <li> 
                        <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" width=30% height=100% align=left style="border-top-left-radius: 0.5rem; border-bottom-left-radius: 0.5rem;">
                        <div>
                             <div class="row">
                                <div class="col-sm-11">
                                    <br>
                                    <p style="color:black; font-size:25px"><b> @Html.DisplayFor(modelItem => item.ProductName) </b></p>
                                    <br>
                                    <form method="post" asp-controller="MyCart" asp-action="EditCart">
                                    <input type="hidden" value="@item.Id" name="cartitemid"/>
                                    Quantity :  <input type="text" name="quantity" value="@item.Quantity" size="1" style="text-align: center;"/>
                                    </form>
                                    <br>
                                    <p style="color: black; font-size:15px"> Price : Rp @Html.DisplayFor(modelItem => item.Price) </p> 
                                    <p style="color: black; font-size:15px"> Item Total : Rp @(item.Price * @item.Quantity) </p> 
                                </div>  
                                <div class="col-sm-1" style="padding-top: 10px;">                         
                                     <form method="post" asp-controller="MyCart" asp-action="EditCart">                
                                    <input type="hidden" value="@item.Id" name="cartitemid"/>
                                    <input type="hidden" value="0" name="@item.Quantity"/>
                                    <button type="submit" style="border: none; background-color: whitesmoke;">
                                    <i class=" bi bi-trash-fill" style="color: #ff82c9; font-size: 20px;"></i>
                                    </button>
                                    </form>
                                </div>                          
                            </div>
                            <br>
                        </div>       
                    </li>
                    <br>  
                }  
            </ul>
        </div>
        <div class="col align-self-start">
            <div class="order-contents" style="background-color: whitesmoke; height: 70vh; width: 20vw; border-radius: 0.5rem;">
                <h2 style="color:black; text-align: center;"><b> Your order </b></h2>
                <p style="text-align: center;"> Total : Rp @Model.CartItemList.Sum(item => item.Price * item.Quantity) </p>
                <input type="submit" value="Checkout" style="background-color: #ff82c9; margin-left: 5vw; margin-top: 20px; border-radius: 0.5rem; width: 8vw;"/>
                <br>
                <br>
                <p style="text-align: center;"> Payment Method : </p>
                 <div class="row">
                        <div class="col">
                            <div class="column">
                                <div class="col">
                                <img src="~/img/Visalogo.png" width="35%">
                                <img src="~/img/Paypallogo.png" width="35%">  
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>  
</div>
</body>
}